.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-head {
  color: var(--white);
}

.footer-icons i {
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  padding: 0.2rem 0.5rem;
}

.footer-icons i:hover {
  color: var(--black);
}
